@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
	margin: 0;
	padding: 0;
}

body {
	width: 855px;
	font-size: 100%;
	margin: auto;
	background-color: black;
	//line-height: 1;
	font-family: 'Roboto';
}


header {
	overflow: auto;
	border-bottom: 1px solid black;
	height: 600px;
}

header p{
	float: right;
	width: 570px;
	font-style: italic;
	overflow: auto;
	margin-top: 10px;
}


table {
    border: 1px solid black;
    margin-bottom: 10px;
    color: white;
}

.tableDiv {
	border: 1px solid white;
}

.prevDiv {
	margin-top: 40px;
	border: 1px solid white;
}

th {
    background-color: black;
    color: white;
}

tr {
    border: 1px solid white;
    color: white;
}

.spacer {
	height: 10px;
	display: block;
	background-size: 100% 100%;

}

.prev {
	margin-left: 40%;
	text-align: center;
	background-image: url('../images/left-arrow.jpg');
	background-size: 100% 100%;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	width: 20px;
	height: 30px;
}

.prev:hover {
	margin-left: 40%;
	text-align: center;
	background-image: url('../images/left-arrow-hover.jpg');
	background-size: 100% 100%;
	border-radius: 5px 5px 5px 5px;

	display: inline-block;
	width: 20px;
	height: 30px;
}

.next {
	text-align: center;

	border-radius: 5px 5px 5px 5px;
	background-image: url('../images/right-arrow.jpg');
	background-size: 100% 100%;
	display: inline-block;
	width: 20px;
	height: 30px;
}

.next:hover {
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	background-image: url('../images/right-arrow-hover.jpg');
	background-size: 100% 100%;
	display: inline-block;
	width: 20px;
	height: 30px;
}

.prev, .next {
    color: white;
    text-align: center;
    margin-right: 10px;
    user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.prev, .next {
    border: 0px solid black;
    cursor: pointer;
    color: white;
}

.prev.disabled, .next.disabled {
    border: 0px solid white;
    cursor: default;
    color: white;
}

a#deleteMessage2 {
	text-decoration:none;
	color: white;
	font-size: 125%;
	width: 15px;

}

a#deleteMessage2:hover {
	text-decoration:none;
	width: 15px;
	background-color: #E8E8E8;
	color: black;
	cursor: pointer;
}

.mainMessageContent {
	color: #E8E8E8;
	font-weight:normal;
	background-color: black;
	font-size: 110%;
	height: 384px;
	line-height:1;
	border-bottom: 1px solid black;

}

.mainMessageContent table{
	margin-top: 20px;
}

.mainMessageContent td{
	    border: 1px solid white;

	width:50%;
	padding: 10px;
}

.mainMessageContent tr{
	color: white;
	background-color: black;
	cursor: pointer;
}

.mainMessageContent tr:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}

.mainMessageContent td.deleteMessage{
	width:10%;
}

.mainMessageContent span{
	color: #006699;
	font-size: 140%;
	margin-top: 50px;
}

.mainMessageContent span .clickMessage{
	color: white;
	display: inline;
	font-size: 60%;
	margin-top: 50px;
	font-style: italic;
}

.topMarginPlaceHolder {
	margin-top: 50px;
}

.mainHelpContent .mainPhotoContent {
	color: white;
	font-weight:normal;
	background-color: black;
	font-size: 100%;
	height: 384px;
	line-height:1;
	border-bottom: 1px solid black;
}

.mainHelpContent .mainPhotoContent h1{
	color: #006699;
}

.mainHelpContent .mainPhotoContent a{
	color: #006699;
}

.mainHelpContent .mainPhotoContent p{
	margin-top: 20px;
}

.imageBar {
	color:white;
	margin-top: 50px;
}

.nodeJSImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 40px;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/nodejs.jpg');
	background-size: 100% 100%;
}

.nodeJSImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 40px;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/nodejs.jpg');
	background-size: 100% 100%;
}

.arduinoImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/arduino.jpg');
	background-size: 100% 100%;
}

.arduinoImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/arduino.jpg');
	background-size: 100% 100%;
}

.mongoHQImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/mongohq.jpg');
	background-size: 100% 100%;
}

.mongoHQImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/mongohq.jpg');
	background-size: 100% 100%;
}

.mongoImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/mongodb.jpg');
	background-size: 100% 100%;
}

.mongoImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/mongodb.jpg');
	background-size: 100% 100%;
}

.gitImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/github.jpg');
	background-size: 100% 100%;
}

.gitImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/github.jpg');
	background-size: 100% 100%;
}
.herokuImage {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:0.4;
	background-image: url('../images/heroku.jpg');
	background-size: 100% 100%;
}

.herokuImage:hover {
	color: white;
	display: block;
	text-align:center;
	float: left;
	margin-left: 0px;
	height: 60px;
	width: 70px;
	opacity:1.0;
	cursor: pointer;
	background-image: url('../images/heroku.jpg');
	background-size: 100% 100%;
}

.whatup {
	text-align: center;
	color: white;
	font-weight:bold;
	background-color: black;
	font-size: 500%;
	height: 600px;
	line-height:1;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	min-width: 750px;
}

.message {
	color: #006699;
	font-weight:normal;
	background-color: black;
	font-size: 200%;
	height: 50px;
	line-height:1;
	margin-top: 70px;
}

.inputClass {
	width: 600px;
	height: 50px;
	font-size: 24px;
	border-radius: 5px 0px 5px 0;
}

.imageBar {
	height: 55px;
}

.displayHome {
	color: white;
	background-color: black;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-size: 300%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	width: 55px;
	background-image: url('../images/home.png');
	background-size: 100% 100%;

}

.displayMessages {
	color: white;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	height: 55px;
	width: 85px;
	background-image: url('../images/envelope.jpg');
	background-size: 100% 100%;
}

.displayMessages:hover {
	color: white;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	height: 55px;
	width: 85px;
	background-image: url('../images/envelope-hover.jpg');
	background-size: 100% 100%;
}

.displayPhotos {
	color: white;
	display: inline-block;
	text-align:center;
	margin-left: 5px;
	height: 55px;
	width: 65px;
	background-image: url('../images/camera.png');
	background-size: 100% 100%;
}

.displayHelp {
	color: white;
	background-color: black;
	display: inline;
	float: left;
	text-align:center;
	text-decoration:none;
	font-size: 300%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	width: 55px;
}

.displayHelp:hover {
	color: black;
	text-align:center;
	background-color: white;
	text-decoration:none;
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	width: 55px;
}

button{
	height: 50px;
	width: 30px;
	line-height:1;
	margin-left: 2px;
	font-size: 25px;
	border-radius: 5px 5px 5px 5px;

}

button:hover {
	cursor: pointer;
	background-color: #006699;
	color: white
}

main {
	//margin-top: 20px;
	overflow: auto;
	border-bottom: 1px solid black;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	//padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

.content {
	background: #eee;
}

.content ul li {
	display: inline-block;
	padding: 2px;
	background-color: lavender;
	border-width: 1px;
	width: 845px;
	//margin-right: 5px;
	margin-left: 5px;
	//border-radius: 5px;
}

.content span.comment {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.content ul li:nth-child(even) {
	background: gainsboro;
}

.content ul li:nth-child(odd) {
	background: #eee;
}

footer {
	color: white;
	text-align: center;
}

footer p{
	float: left;
	clear: both;
	color: white;
}


